@charset "UTF-8";

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     margin: 0;
}
p{
    padding-top: 10px;
    font-size: 6px;
 
    text-align: justify;
}
/*link para outras páginas*/
#links{
    display: flex;
    align-items: center; 
    justify-content: center;

    width: 100%;
    max-width: 500px; 
    max-height: 200px; 
    min-height: 400px;
    min-width: 400px;
}
img{
    padding-top: 50px;
    width: 80%;
    height: 80%;
}

/*Livro do Debret*/
#livro{
    display: flex;
    height: 55vh;
    width: 85vw;
    min-height: 320px;
    min-width: 400px;
    max-height: 310px;
    max-width: 410px;
    align-items: start;
    justify-content: space-between;    
    background: url(../Imagens/livro.png);
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 0 12%;
}
@media screen and (min-width: 810px){
    #livro{
        padding: 0 7%;
    }
}
article {

    display: flex;
    flex-direction: column;
    
    padding-top: 50px;

    width: 45%; 
    
}